.App {

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #1d1b17 !important;
  color: #ffffff !important;
}

h1, h2, h3 {
  color: #ffffff;
  font-weight: 600;
}

p, label, small, span {
  color: #dfdbce; 
}

text-muted{
  color: #d4d2cbc9; 
}

textarea {
  background-color: #181818;
  color: #ffffff;
  border: 1px solid #2a2a2a;
  border-radius: 8px;
  padding: 10px;
  font-family: monospace;
}

.App button,
.App .btn {
  background: linear-gradient(90deg, #ff5757, #8c52ff);
  border: none;
  border-radius: 20px;
  color: #ffffff;
  font-weight: 600;
  padding: 8px 18px;
  transition: all 0.2s ease-in-out;
}


/* Volume Slider Style  */
.volume-wrap {
  max-width: 420px;
  margin: 0 auto;
}

/* Cover Bootstrap styles */
.form-range.volume-range{
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  height: 12px;
  background: transparent !important;
  outline: none;
}

.form-range.volume-range::-webkit-slider-runnable-track{
  height: 12px;
  background: linear-gradient(90deg,#ff6b6b,#845ef7);
  border-radius: 999px;
}

.form-range.volume-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid rgba(255,255,255,.3);
  box-shadow: 0 2px 8px rgba(142, 128, 128, 0.4);
  transition: transform .12s ease;
  margin-top: calc((12px - 20px) / 2 - 1px); 
}

.form-range.volume-range::-webkit-slider-thumb:hover {
  transform: scale(1.2);
}


/* checkboxes */
.form-check-input:checked {
  background: linear-gradient(90deg, #ff6b6b, #845ef7);
  border: none;
}

.form-check-input {
  border-radius: 6px; 
}

/* textarea */
.preprocess-textarea {
  background-color: hsl(0, 0%, 9%);          
  color: #f8f9fa;                     
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  font-family: "Fira Code", monospace; 
  font-size: 1rem;
  line-height: 1.5;
  padding: 1rem;
  resize: vertical;
  transition: all 0.25s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) inset;
}

.form-label {
  font-size: 1rem;
  letter-spacing: 0.3px;
  color: #e5e5e5;
}


